@use "../../styles/variables.scss" as v;

.footer-options {
  list-style-type: "\003E";
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 10px;

  li {
    padding-left: 10px;
    color: v.$font-footer;
    transition: 250ms;
    cursor: pointer;

    &:hover {
      color: v.$color-accent;
    }
  }
}
