.header {
  background-color: #0a0d10;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  padding: 2em;

  .header__logo--wrapper {
    background-color: #9a9a9a;
    padding: 16px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 250ms;
    cursor: pointer;

    &:hover {
      background-color: #e98206;
    }
  }

  span {
    font-weight: normal;
    font-size: 1.8em;

    strong {
      font-weight: bold;
    }
  }
}
