@use "./styles/mixins.scss" as m;
@use "./styles/variables.scss" as v;

.main {
  min-height: calc(100vh - 136px);
  background-color: v.$bg-main;
  padding: 150px 50px;

  @include m.tablet {
    min-height: calc(100vh - 144px);
  }

  @include m.laptop {
    padding-top: 200px;
  }

  &__title {
    position: relative;
    text-align: center;
    font-weight: 400;
    width: fit-content;
    margin: 0 auto 50px;

    &::after {
      content: "";
      position: absolute;
      bottom: -0.5em;
      left: 15%;
      height: 1px;
      width: 70%;
      background-color: v.$font-dark;
    }
  }

  .content {
    @include m.grid(repeat(2, 1fr), 1fr);

    :nth-child(3) {
      grid-column-end: span 2;
    }

    @include m.laptop {
      display: flex;

      > * {
        flex: 1 1 0;
        width: 0;
      }
    }
  }
}
