@use "../../styles/mixins.scss" as m;
@use "../../styles/variables.scss" as v;

.section-wrapper {
  margin: 0 20px 50px;
}

.option-picker-wrapper {
  margin: 20px 0;
}

.radio {
  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    + .radio__input-label {
      position: relative;
      padding-left: 35px;
      cursor: pointer;
      display: inline-block;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        @include m.square-params(30px);
        background-color: transparent;
        border-radius: 50%;
        border: 4px solid v.$font-light;
      }
    }
  }
}
.radio__input:checked {
  + .radio__input-label {
    color: v.$font-light;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translate(-50%, -50%);
      @include m.square-params(14px);
      background-color: v.$font-light;
      border-radius: 50%;
    }
  }
}
