@use "../../styles/mixins.scss" as m;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0a0d10;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 2em;

  &__logo-wrapper {
    display: grid;
    place-items: center;
    background-color: #303030;
    padding: 12px;
    border-radius: 50%;
    transition: 250ms;

    @include m.tablet {
      padding: 16px;
    }

    img {
      @include m.square-params(40px);

      @include m.tablet {
        @include m.square-params(50px);
      }
    }

    .logo__desc {
      display: none;
    }

    &:hover {
      background-color: #e98206;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: normal;
    font-size: 1.2em;

    @include m.tablet {
      font-size: 1.8em;
    }

    .header__title {
      text-align: right;

      strong {
        font-weight: bold;
      }
    }

    .header__candidate {
      font-weight: 200;
      font-size: 0;
      overflow: hidden;
      transition: 250ms;

      &.header__candidate--active {
        font-size: inherit;
      }
    }
  }
}
