<header class="header">
    <a href="/">
        <figure class="header__logo-wrapper">
            <img [src]="data.logo" alt="HTMl5 logo">
            <figcaption class="logo__desc">
                <a href="https://icons8.com/icon/23028/html-5">Html 5</a>
                icon by
                <a href="https://icons8.com">Icons8</a>
            </figcaption>
        </figure>
    </a>

    <p class="header__details">
        <span class="header__title">{{ data.title.split(' ')[0] }} <strong>{{ data.title.split(' ')[1]
                }}</strong></span>
        <span class="header__candidate" [ngClass]="{ 'header__candidate--active': showPersonalData }">Martyna
            Filipiak</span>
    </p>
</header>