@use "../../styles/mixins.scss" as m;

.section-wrapper {
  .section__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 20px;

    @include m.laptop {
      margin: 30px 0;
      text-align: center;
    }
  }

  .section__content {
    @include m.flex-center-column;
    gap: 5px;
    text-align: center;
  }
}
